.full-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
}
app-header{
    padding-top: 1rem;
    align-self: center;
  
}
app-products{
    padding-top: 1rem;
    border-bottom: solid 5px green;
}
app-add-product{
    padding-top: 1rem;
    
}